<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
    <script src="{% static 'news/sweetalert-master/dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'news/sweetalert-master/dist/sweetalert.css' %}">

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Mobile rendering + touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Geochart-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["geochart"]});
      google.setOnLoadCallback(drawRegionsMap);


      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
          ['Country', 'Color'],
          ['Ireland', 1],
          ['United Kingdom', 2],
          ['France', 3],
          ['Spain', 4],
          ['Germany', 5],
          ['Italy', 6]
        ]);


        var options = {
        region: '150',
        colorAxis: {colors: ['green', 'red', 'blue', 'black', 'yellow', 'orange']},
        showLegend: false,
        showZoomOut: true,
        legend: 'none'


        };


        var chart = new google.visualization.GeoChart(document.getElementById('regions'));


               function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);

         }
    }

    document.body.appendChild(form);
    form.submit();
}

          google.visualization.events.addListener(chart, 'select', function() {
          var row = chart.getSelection()[0].row;
          var country = (data.getValue(row,0));
          /*var category = prompt("Please enter a category: " + "\n" +
                  "'S' for Sports" + "\n" +
                  "'B' for Business" + "\n" +
                  "'E' for Entertainment" + "\n" +
                  "'P' for Politics");*/


             swal({   title: "What would you like to view?",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Articles",
            cancelButtonText: "Weather",
            cancelButtonColor: "#0000FF",
            showLoaderOnConfirm: true,
            closeOnConfirm: false,
            closeOnCancel: false },
                function(isConfirm){
                    if (isConfirm) {
                        post("/news/articles/", {country: country});
                    } else {
                        weatherForcasts(country);
                    }

                });
        });

        chart.draw(data, options);

      }




        function weatherForcasts(country){
            if(country == "Ireland"){
                swal({
                    title: "Weather forecast for Ireland",
                    text: "<strong> Summary: {{ Ireland_weather.current_summary }} </strong> </br>"  +
                           "<strong> Current Temperate: {{ Ireland_weather.current_temp }} </strong> </br>" +
                            "<strong> Additonal info: {{ Ireland_weather.hourly }} </strong>",
                    html:true
                });
            }else if(country == "United Kingdom"){
                swal({
                    title: "Weather forecast for United Kingdom",
                    text: "<strong> Summary: {{ UK_weather.current_summary }} </strong> </br>"  +
                           "<strong> Current Temperate: {{ UK_weather.current_temp }} </strong> </br>" +
                            "<strong> Additonal info: {{ UK_weather.hourly }} </strong>",
                    html:true
                });
            }
        }

    </script>
</head>

<body>




<div class = "container" style = "border: 1px #e4e4e4 solid;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff;">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style = "font-size: 20px; font-family: 'lucida grande', cursive;">Purple News</a>
            <!-- <a class="navbar-brand" href="https://docs.google.com/a/ucdconnect.ie/forms/d/1qwiiYGeclJbiH9dHHw51LgeCIxRf1dG9LDwYTJfsWI8/viewform" style = "font-size: 15px; font-family: 'lucida grande', cursive; float: right;">Feedback Form</a> -->
        </div>
      </div>
    </nav>

    <script>
        swal({
            title: "Instructions",
            text: "<strong> Please select a country to view associated articles or the weather </strong>",
            confirmButtonText: "OK",
            html:true
            });

    </script>

    <div class="jumbotron" style = "font-family: 'Lucida Grande', cursive">
  	      <h2>Country Selection</h2>
  	      <p></p>
    </div>

    <div id="regions"></div>


</div>


</body>
</html>